@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #ffffff;
  background: #2b2828;
  font-family: Arial, Helvetica, sans-serif;
}


.new {
  color: rgb(212, 51, 51);
  font: bold;
}

.inWork {
  color: rgb(185, 194, 60);
  font: bold;
}

.waiting {
  color: darkolivegreen;
  font: bold;
}

.cancelled {
  color: gray;
  font: bold;
}

.completed {
  color: green;
  font: bold;
}

.inArchive {
  color: silver;
  font: bold;
}


.word-break {
  word-break: break-word;
}





.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow:
    calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn)
  }
}